.menu-item {
    width: 64px;
    height: 64px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    &:hover {
        background-color: #40adff;
    }
}
.menu-item.active {
    background-color: #006edc;
    &:hover {
        background-color: #006edc;
    }
}